// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.company-name {
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.purple-background {
  width: 100%;
  height: 100%;
  background-color: $purple;
  z-index:0;
}

.page-content.home-page {
  z-index: 1;
  background-size: cover;
  background-color: $purple;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  color: white;


  .top-nav {
    position: relative;
    padding: 20px;
    text-align: center;

    .company-name {
      letter-spacing: 0.25em;
    }

    a {
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }

  .learn-more-container {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }

  .tagline-container {
    padding-top: 45vh;
    padding-left: 30px;
    padding-right: 30px;

    .tagline-first {
      font-family: "Roboto";
      font-weight: 300;
      font-size: 20px;
    }

    .tagline-second {
      // font-family: "Roboto";
      // font-weight: bold;
      // font-size: 48px;
      float: right;
      padding-right: 30px;
    }
  }

  .call-to-action-flex {
    // margin-top: 80px;
    // display: flex;
    // justify-content: space-around;
  }

  .call-to-action {
    margin-top: 60px;
    text-align: center;
  }

  .learn-more {
    margin-top: 30px;
    text-align: center;
  }

  .learn-more-link {
    color: $white;

  }
}

.how-it-works-container {
  padding: 30px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .HIW-step-container {
    position: relative;
    color: white;
    font-size: 17px;
    padding-top: 30px;

    .number {
      width: 100%;
      position: absolute;
      font-family: 'Raleway', sans-serif !important;
      font-size: 145px;
      opacity: 0.3;
      top: -60px;
    }
  }
}
